<h1>New Game</h1>

<p>What is the longest word you can find?</p>
<form action="">
    <input type="text" name="" placeholder="longest word">
    <input class="btn" type="submit" value="Play!">
  </form>
